<%- include('../include/head.ejs') %>
</head>
<%- include('../include/navbar.ejs') %>
<body>
<main>
    <div class="title">
        <div class="browse-div">
            <a href="/images/<%= prevDate %>" class="browse-button">
                <span class="material-symbols-sharp">
                    arrow_back_ios_new
                </span>
            </a>
        </div>
        <h1><%= imageTitle %></h1>
        <div class="browse-div">
            <a href="/images/<%= nextDate %>" class="browse-button" id="browse-button-next">
                <span class="material-symbols-sharp" id="next-arrow">
                    arrow_forward_ios
                </span>
            <% if (imageDate === today) { %>
                <script>
                    const link = document.getElementById("next-arrow");
                    link.style.color = "#7C7C7C";
                    link.style.height = "5px";
                    link.addEventListener('click', (event) => {
                        event.preventDefault();
                    });
                </script>
            <% }; %>
            </a>
        </div>
    </div>
    <div class="fade-container">
        <div class="fade title-content-fade"></div>
    </div>
    <div class="content">
        <div class="image-container">
            <img src="<%= image %>" class="nasa-image">
        </div>
        <div class="image-text">
            <p class="image-description"><%= imageDescription %></p>
            <div class="content-bottom">
                <p class="copyright">Copyright: <%= imageCopyright %></p>
                <p class="date"><%= imageDate %></p>
            </div>
        </div>
    </div>
</main>
<%- include('../include/footer.ejs') %>