<% if (locals.image) { %>
    <% if (!isLoggedIn) { %>
        <span class="material-symbols-outlined" title="Sign in to add images to your favorites!">star</span>
    <% } else { %>
        <form action="/images/<%= imageDate %>" method="post">
            <input type="hidden" name="imageDate" value="<%= imageDate %>">
            <input type="hidden" name="imageTitle" value="<%= imageTitle %>">
            <input type="hidden" name="image" value="<%= image %>">
            <button class="btn-favorites" type="submit">
                <span class="material-symbols-outlined" title="Add to favorites">star</span>
                <script>
                    var isFavorite = "<%= isFavorite %>";
                    const star = document.querySelector(".material-symbols-outlined");
                    if (isFavorite === "true") {
                        star.classList.add("favorite")
                    };

                    function toggleFavorites(e) {
                        isFavorite = !isFavorite;
                        e.target.classList.toggle("favorite");
                    };

                    star.addEventListener("click", toggleFavorites);
                </script>
            </button>
        </form>
    <% } %>
<% } %>