<% if (locals.image) { %>
    <% if (!isLoggedIn) { %>
        <span class="material-symbols-outlined star" title="Sign in to add images to your favorites!">star</span>
    <% } else { %>
            <button class="btn-favorites" id="btn-favorites" type="submit">
                <span class="material-symbols-outlined star" title="Add to favorites" id="star">star</span>
            </button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 
            <script type="text/javascript">
                var isFavorite = "<%= isFavorite %>";
                if (isFavorite === 'true') {
                    $('#star').addClass('favorite');
                };
                $('#btn-favorites').click(function() {
                    isFavorite = !isFavorite;
                    $('#star').toggleClass('favorite');
                    $.ajax({
                        url: '/images?imageDate=<%= imageDate %>',
                        method: 'POST',
                        data: {
                            'imageDate':'<%= imageDate %>',
                            'imageTitle':'<%= imageTitle %>',
                            'image':'<%= image %>',
                            'mediaType':'<%= mediaType %>'
                        },
                        error: function(jqXHR, textStatus, err) {
                            console.error(textStatus);
                            console.error(err);
                            isFavorite = !isFavorite;
                            $('#star').toggleClass('favorite');
                        }
                    });
                });
            </script>
    <% } %>
<% } %>